.swiper-pag {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-pag {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-bottom: 1rem !important;
  }

  .swiper-slide-pag-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 5rem;;
  }


  .swiper {
    width: 100%;
    height: 100%;
  }
  .verticalSwiper{
    height: 20rem;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-slide-img-vertical{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */