/* section 3 */
#section-3{
    background-image: url(../Images/svgs/ellipse.svg);
    background-position: top;
    height: auto;
    margin-top: 2rem !important;
    padding-top: 5rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.section-3-row-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-3-row-2{
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url(../Images/svgs/ellipse-bottom.svg);
    padding-bottom: 2rem;
    background-position: bottom;
}
.customer-img{
    max-width: 6rem;
}